.mytop {
  top: 0px;
  left: 0px;
  width: 100%;
}
.search {
  padding: 20rpx 16rpx;
  background-color: #eeeeee;
}
.search .serach_input {
  width: 100%;
  height: 60rpx;
  background-color: #fff;
  position: relative;
}
.search .serach_input input {
  padding-left: 70rpx;
}
.search .serach_input .word {
  position: absolute;
  top: 6rpx;
  left: 20rpx;
}
.tab {
  height: 100rpx;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.tab div {
  width: 33.33%;
  line-height: 100rpx;
  text-align: center;
}
.tab .active {
  color: #eb4f5d;
}
.product {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  height: 260rpx;
  padding: 0 20rpx;
}
.product a {
  display: block;
  width: 100%;
  height: 100%;
}
.product .left {
  width: 30%;
  height: 195rpx;
  margin-top: 30rpx;
}
.product .left image {
  width: 100%;
  height: 100%;
}
.product .right {
  flex: 1;
  height: 195rpx;
  padding: 30rpx;
}
.product .right .word {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product .right .price {
  color: red;
  margin-top: 60rpx;
}
.product .right .price span:first-child {
  font-size: 14px;
}
.product .right .price span:last-child {
  font-size: 20px;
}
